<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">关于我们</h2>
                    <h3 class="section-subheading text-muted">一个神秘的 team</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-2020</h4>
                                    <h4 class="subheading">工作室主要从事</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">UI界面设计、程序开发、H5互动设计、移动站开发、微信二次开发、电商开发、小程序开发、域名注册、网站维护等服务;为客户量身定做个性化网站，精心为客户打造称心如意的网络家园。</p>
                                </div>
                            </div>
                        </li>
						
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4>2018-2020</h4>
                                   <h4 class="subheading">核心价值</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">核心价值结合客户的实际需求与我们的设计理念，力争把每个网站都做成优质作品。</p>
                                </div>
                            </div>
                        </li>
						
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                   <h4>2018-2020</h4>
                                   <h4 class="subheading">使命</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">客户至上，品质优先。为追求客户满意，一丝不苟，精益求精。</p>
                                </div>
                            </div>
                        </li>
						<!-- 
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
						
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>