<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">我们的服务</h2>
                    <h3 class="section-subheading text-muted">为你提供优质的服务</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
						<img src="img/ico_appkaifa.png">	
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">APP开发</h4>
                    <p class="text-muted">app开发,教育app开发,专业的开发团队,专业的技术团队,为客户量身定制开发方案,欢迎咨询,专业定制 , 专注精品...
在线服务:免费咨询更多详情</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
						<img src="img/ico_wanzhankaifa.png">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">网站开发/设计</h4>
                    <p class="text-muted">team网站开发团队专业做网站,建网站,从事网站建设,网站开发,网站制作,我们一家朝气蓬勃和充满创意的数字体验提供商...</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
						<img src="img/ico_xiaochengxu.png">
                        <!-- <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i> -->
                    </span>
                    <h4 class="service-heading">小程序开发</h4>
                    <p class="text-muted">小程序是一种新的开放能力,可以在微信内被便捷地获取和传播,同时具有出色的使用体验。小程序开发者可在小程序内提供便捷、丰富的服务,如预订、商品购买、游戏、...</p>
                </div>
            </div>
        </div>
    </section>